<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Knowledge Graph</title>
        <link rel= "stylesheet" type= "text/css" href= "../static/css/main_2.css">
        <script src="https://kit.fontawesome.com/88a8ba13d4.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container">
            <h1>Knowledge Graph - Overview</h1>
            <div class="all-graphs">
                <div class="graph">
                    <div class="graph-content">
                        <h2>Malcolm Gladwell, Ijeoma Oluo, Thomas Friedman, and Rana Foroohar to Headline National Workplace Summit, Presented by the Conferences for Women</h2>
                        <h3>Yahoo Entertainment - 12/04/2021</h3>
                        <i class="fas fa-user" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="graph">
                    <div class="graph-content">
                        <h2>Jeff VanderMeer’s latest work of bleak eco-fiction is an apocalyptic page-turner</h2>
                        <h3>The A.V. Club - 12/04/2021</h3>
                        <i class="fas fa-user" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="graph">
                    <div class="graph-content">
                        <h2>Everything to know about the 'Mortal Kombat' movies</h2>
                        <h3>Mashable - 12/04/2021</h3>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="graph">
                    <div class="graph-content">
                        <h2>How I Invest My Money</h2>
                        <h3>Seeking Alpha - 12/04/2021</h3>
                        <i class="fas fa-user" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
                <div class="graph">
                    <div class="graph-content">
                        <h2>What Kristine Hostetter’s Story Says About Orange County</h2>
                        <h3>New York Times - 13/04/2021</h3>
                        <i class="fas fa-seedling" style="color:#C83E4D;text-shadow:0.6px 0.6px 0.6px #000000;"></i>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
